h2{
    color:rgb(112, 51, 112)
}
a:link {
  color: blue;
}

a:visited {
  color: rgb(214, 120, 214);
}

a:hover {
  color: rgb(226, 226, 123);
}

a:active {
  color: green;
}

p:first-child {
  font-weight: bold;
}

form{
    color:rgb(66, 66, 164)
}

footer{
    color:rgb(91, 8, 170)
}
